.WHs{
	width: 100%;
	height: 100%;
}
image{
	height: auto;
}
// 首页样式
.container{
	background-color: #30475e;
	position: relative;
	overflow: hidden;
	// 动态盒子
	.dynamicBox{
		width: 300rpx;
		height: 100rpx;
		background-color: #d1c145;
		position: absolute;
		left: 50rpx;
		// top: 200rpx;
		top: 12%;
		z-index: 80;
		border-radius: 10rpx;
		transition: .5s;
		// 初始状态
		.initial{
			display: flex;
			justify-content: center;
			font-size: 32rpx;
			align-items: center;
			color: rgba($color: #fff, $alpha: .7);
			.day{
				font-size: 38rpx;
				font-weight: bold;
				margin-left: 10rpx;
				color: rgba($color: #30475e, $alpha: .7);
			}
		}
		// 状态one
		.stateOne{
			.swiper-item{
				box-sizing: border-box;
				padding: 20rpx;
				background-color: #d1c145;
				border-radius: 10rpx;
				image{
					border-radius: 5rpx;
				}
			}
		}
		//状态Two
		.stateTwo{
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			.userImg{
				width: 90%;
				height: 90%;
				border-radius: 50%;
			}
		}
	}
	//状态1
	.dynamicOne{
		width: 340rpx;
		height: 460rpx;
		left: 5%;
	}
	.dynamicTwo{
		width: 150rpx;
		height: 150rpx;
		border-radius: 50%;
	}
	.indexSwiper{
		width: 100%;
		height: 100vh;
		.swiper-item{
			width: 100%;
			height: 100%;
		}
		// 中间页面
		.swiperCont{
			// background-color: #d1c145;
			.box{
				width: 200rpx;
				height: 200rpx;
				// background-color: #007AFF;
			}
			.swiperContBg{
				width: 100%;
				height: 100vh;
				z-index: -1;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			.cardBox{
				width: 100%;
				height: 140rpx;
				position: fixed;
				bottom: 40rpx;
				left: 0;
				padding: 0 20rpx;
				color: #ffffff;
				.timeBox{
					width: 40%;
					height: 140rpx;
					// background-color: rgba(39,33,46,.7);
					border-radius: 10rpx;
					text-align: center;
					line-height: 140rpx;
					background: linear-gradient(145deg, #2b4055, #334c65);
					box-shadow:  28px 28px 71px #273a4c, 
					             -28px -28px 71px #395470;
					opacity: .7;
				}
			}
		}
		// 左边页面
		.swiperLeft{
			overflow: hidden;
			position: relative;
			.swiperDetails{
				width: 40%;
				height: 460rpx;
				position: absolute;
				right: 5%;
				top: 200rpx;
				border-radius: 10rpx;
				// background-color: rgba($color: #d1c145, $alpha: .3);
				.title{
					margin-top: 20rpx;
					font-size: 40rpx;
					color: #f9fcfb;
					opacity: .8;
					font-weight: bold;
				}
				.score{
					position: absolute;
					top: 218rpx;
					left: 0rpx;
					.scoreK{
						font-size: 32rpx;
						color: #f9fcfb;
						opacity: .8;
					}
					.scoreN{
						font-size: 50rpx;
						font-weight: bold;
						color: #d1c145;
					}
					.scoreNmini{
						font-size: 32rpx;
					}
				}
				.airTime{
					position: absolute;
					top: 300rpx;
					left: 0rpx;
					font-size: 28rpx;
					.airTimeK{
						color: #f9fcfb;
						opacity: .8;
					}
					.airTimeN{
						color: #d1c145;
					}
				}
			}
			.botBox{
				width: 100%;
				height: 50vh;
				margin-top: 56vh;
			}
			.leftCardBox{
				width: 43%;
				float: left;
				margin-left: 4%;
				// margin-top: 800rpx;
				// margin-top: 100%;
			}
			.rightCardBox{
				width: 43%;
				float: right;
				margin-right: 4%;
				transform: none;
				display: inline;
				// margin-top: 800rpx;
				// margin-top: 100%;
			}
			.cardBox{
				width: 100%;
				height: 140rpx;
				border-radius: 10rpx;
				background: #d1c145;
				transition: 1s;
				margin-bottom: 40rpx;
				position: relative;
				.cyImg{
					width: 120rpx;
					height: 120rpx;
					position: absolute;
					right: 20rpx;
					top: -20rpx;
					z-index: 5;
				}
				.boxText{
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 46rpx;
					font-weight: bold;
					color: #30475e;
				}
				.boxTextLy{
					width: 100%;
					height: 100%;
					position: absolute;
					display: flex;
					align-items: center;
					font-size: 38rpx;
					font-weight: bold;
					box-sizing: border-box;
					padding-left: 40rpx;
					color: rgba($color: #fff, $alpha:.8);
					z-index: 2;
				}
				.ikon{
					width: 200rpx;
					height: 200rpx;
					position: absolute;
				}
				.ikon1{
					top: -72rpx;
					left: -30rpx;
				}
				.ikon2{
					top: -30rpx;
					left: -36rpx;
				}
				.ikon3{
					top: -79rpx;
					left: 0rpx;
				}
				.ikon4{
					top: -76rpx;
					right: -30rpx;
					width: 230rpx;
					height: 230rpx;
				}
				.ikon5{
					top: -50rpx;
					left: -32rpx;
				}
				.ikon6{
					top: -78rpx;
					right: -30rpx;
				}
			}
		}
		// 右边页面
		.swiperRight{
			// background-color: #c75643;
		}
	}
}
//动画延迟时间
.delay1{
	-webkit-animation-delay:0.2s;//延迟执行动画
	animation-delay:0.2s;
}
.delay2{
	-webkit-animation-delay:0.4s;//延迟执行动画
	animation-delay:0.4s;
}
// 弹出框
.popupPage{
	position: absolute;
	top: 0rpx;
	left: 0rpx;
	width: 100%;
	height: 100vh;
	// background-color: #d1c145;
	z-index: 90;
	border-radius: 20rpx;
	transition: .8s;
}
.popupPageShow{
	opacity: 1;
	border-radius: 0rpx;
}
.popupPageHidden{
	top: 2400rpx;
	opacity: .8;
}