image {
	height: auto;
}
.content {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #30475e;
	color: #f9fcfb;
	padding-bottom: 200rpx;
	.headText {
		width: 100%;
		font-size: 50rpx;
		font-weight: bold;
		box-sizing: border-box;
		padding: 0 40rpx;
		margin-bottom: 40rpx;
	}
	.cartBox {
		width: 100%;
		box-sizing: border-box;
		padding: 0 40rpx;
		margin-bottom: 100rpx;
		.ht {
			width: 100%;
			text-align: center;
			margin-top: 40rpx;
			font-size: 38rpx;
			color: #fff;
			opacity: 0.8;
		}
		.timeT {
			width: 100%;
			font-size: 40rpx;
			font-weight: bold;
		}
		.cartList {
			width: 100%;
			overflow: hidden;
			margin: 40rpx 0;
			display: flex;
			.imgBox {
				width: 30%;
				height: 270rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10rpx;
				background-color: rgba($color: #777, $alpha: 0.5);
				overflow: hidden;
				image {
					width: 100%;
					height: auto;
					border-radius: 10rpx;
				}
			}
			.boxRt {
				display: flex;
				align-items: center;
			}
			.boxR {
				width: 70%;
				float: left;
				box-sizing: border-box;
				padding: 20rpx;
				.textCart {
					width: 100%;
					font-size: 30rpx;
					font-weight: bold;
				}
				.firstTime {
					font-size: 26rpx;
					margin-top: 40rpx;
					.fTime {
						color: #d1c145;
					}
				}
				.score {
					margin-top: 40rpx;
					.scoreK {
						font-size: 32rpx;
						color: #f9fcfb;
						opacity: 0.8;
					}
					.scoreN {
						font-size: 50rpx;
						font-weight: bold;
						color: #d1c145;
					}
					.scoreNmini {
						font-size: 32rpx;
					}
				}
			}
		}
	}
}
// 搜索
.searchModel {
	width: 100%;
	position: fixed;
	width: 100%;
	bottom: 100rpx;
	transition: 0.4s;
	.Box {
		height: 100rpx;
		position: relative;
		.searchBox {
			width: 100rpx;
			height: 100rpx;
			box-sizing: border-box;
			background-color: #d1c145;
			opacity: 0.8;
			border-radius: 50rpx;
			position: absolute;
			right: 60rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 3;
			image {
				width: 50rpx;
				height: 50rpx;
			}
		}
		.iptBox {
			width: 100rpx;
			height: 100rpx;
			box-sizing: border-box;
			background-color: #d1c145;
			border-radius: 50rpx;
			z-index: 2;
			transition: 0.4s;
			overflow: hidden;
			position: absolute;
			right: 60rpx;
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 40rpx;
			.ipt {
				width: 100%;
				color: #fff;
			}
		}
		.iptBoxShow {
			opacity: 0.9;
			width: 68%;
			right: 26%;
		}
	}
}
.boxOpen {
	bottom: 60%;
}
.filterLy {
	filter: blur(8px);
}
